* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 320px;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 12px;
  padding: 12px;
  background-color: hsl(225, 60%, 96%);
  border-radius: 28px;
  overflow: scroll;
  scrollbar-width: none;
  user-select: none;
  cursor: grab;
  transform: scale(1.5);
}

.card {
  width: 10px;
  min-width: 10px;
  min-height: 10px;
  background-color: #cedaf9;
  color: #0a1632;
  border-radius: 40px;
  animation-name: animationName;
  animation-timing-function: ease-in-out !important;
  animation-fill-mode: both;
  animation-duration: 1ms;
  view-timeline-name: --card-reveal;
  view-timeline-axis: x;
  animation-timeline: --card-reveal;

  display: flex;
  justify-content: start;
  align-items: end;
  padding: 8px;
  overflow: visible;
  position: relative;
  transform: scale(1);

  &:has(p.green) {
    box-shadow: inset 0 0 10px 0 #fe3535;
    background: #ffb699;
    color: #2e0604;
  }
}

@keyframes animationName {
  0% {
    height: 10px;
    opacity: 0.3;
  }
  50% {
    min-width: 100px;
    height: 100px;
    opacity: 1;
    border-radius: 16px;
  }
  100% {
    height: 10px;
    opacity: 0.3;
  }
}

p {
  background-color: #256aff;
  padding: 4px 4px;
  border-radius: 36px;
  font-size: 14px;
  color: #eaf1ff;
  animation-name: textAnimation;
  animation-timing-function: ease-in-out !important;
  animation-fill-mode: both;
  animation-duration: 1ms;
  view-timeline-name: --text-reveal;
  view-timeline-axis: x;
  animation-timeline: --text-reveal;
  transform-origin: top left;

  position: absolute;
  top: -4%;
  left: 0%;
  z-index: 1;
}

.green {
  background-color: #260101;
  color: #ff6969;
}

@keyframes textAnimation {
  0% {
    transform: scale(0);
    top: 20%;
    left: 20%;
  }
  50% {
    transform: scale(1);
    top: -15%;
    left: 0%;
  }
  100% {
    transform: scale(0);
    top: 20%;
    left: 20%;
  }
}

h3 {
  width: 64px;
  min-width: 64px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 120%;
  text-wrap: wrap;
  letter-spacing: -0.24px;
  animation-name: h3Animation;
  animation-timing-function: ease-in-out !important;
  animation-fill-mode: both;
  animation-duration: 1ms;
  view-timeline-name: --h3-reveal;
  view-timeline-axis: x;
  animation-timeline: --h3-reveal;
  transform-origin: left bottom;
}

@keyframes h3Animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
